Repository duckduckgo/iOS, pull requests merged in 2024-07, with the labels that each got.

#3020 Release 7.127.0-0
  Configuration/Version.xcconfig
  Core/AppPrivacyConfigurationDataProvider.swift
  Core/ios-config.json
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/Settings.bundle/Root.plist
  fastlane/metadata/default/release_notes.txt
Labels: Merge triggers release

#3022 Onboarding fix iPad landscape gradient
  DuckDuckGo/OnboardingExperiment/OnboardingBackground.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingView.swift
Labels: bot: not in app board

#3025 Onboarding Intro fix browser charts icons
  DuckDuckGo/DaxOnboarding.xcassets/CheckGreen.imageset/Check-Recolorable-24.pdf
  DuckDuckGo/DaxOnboarding.xcassets/CheckGreen.imageset/Contents.json
  DuckDuckGo/DaxOnboarding.xcassets/Cross.imageset/Contents.json
  DuckDuckGo/DaxOnboarding.xcassets/Cross.imageset/Cross-Gray-24.pdf
  DuckDuckGo/DaxOnboarding.xcassets/Cross.imageset/Cross.pdf
  DuckDuckGo/DaxOnboarding.xcassets/Stop.imageset/Contents.json
  DuckDuckGo/DaxOnboarding.xcassets/Stop.imageset/Stop-Yellow-24.svg
  DuckDuckGo/DaxOnboarding.xcassets/Stop.imageset/Stop.pdf
Labels: bot: not in app board

#3028 Onboarding Intro experiment setup
  Core/DefaultVariantManager.swift
  DuckDuckGo/MainViewController+Segues.swift
Labels: bot: not in app board

#3035 Fixes for Xcode 16 (BSK -> 164.3.0)
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: includes-BSK-changes

#3029 Onboarding intro lock user interface to portrait for iPhone
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingIntroViewController.swift
Labels: bot: not in app board

#3051 Release 7.127.0-1
  DuckDuckGo.xcodeproj/project.pbxproj
Labels: Merge triggers release

#3043 Alessandro/onboarding intro design review fixes
  DuckDuckGo/DaxOnboarding.xcassets/DaxOnboardingBackground.imageset/BG-Background-Tablet.pdf
  DuckDuckGo/DaxOnboarding.xcassets/DaxOnboardingBackground.imageset/Contents.json
  DuckDuckGo/OnboardingExperiment/OnboardingBackground.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingDefaultBrowserView.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingView.swift
  DuckDuckGo/OnboardingExperiment/Styles/OnboardingTextStyles.swift
Labels: bot: not in app board

#3044 Onboarding Intro - Remove Default Browser Screen
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/OnboardingExperiment/DaxDialogs/DaxDialogBrowsersComparisonView.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingIntroViewModel.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingView.swift
  DuckDuckGo/UserText.swift
  DuckDuckGo/en.lproj/Localizable.strings
  DuckDuckGoTests/OnboardingIntroViewModelTests.swift
Labels: bot: not in app board

#3058 Release 7.128.0-0
  Configuration/Version.xcconfig
  Core/AppPrivacyConfigurationDataProvider.swift
  Core/ios-config.json
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/Settings.bundle/Root.plist
  fastlane/metadata/default/release_notes.txt
Labels: Merge triggers release

#3026 Onboarding Intro Localisation
  DuckDuckGo/bg.lproj/Localizable.strings
  DuckDuckGo/cs.lproj/Localizable.strings
  DuckDuckGo/da.lproj/Localizable.strings
  DuckDuckGo/de.lproj/Localizable.strings
  DuckDuckGo/el.lproj/Localizable.strings
  DuckDuckGo/es.lproj/Localizable.strings
  DuckDuckGo/et.lproj/Localizable.strings
  DuckDuckGo/fi.lproj/Localizable.strings
  DuckDuckGo/fr.lproj/Localizable.strings
  DuckDuckGo/hr.lproj/Localizable.strings
  DuckDuckGo/hu.lproj/Localizable.strings
  DuckDuckGo/it.lproj/Localizable.strings
  DuckDuckGo/lt.lproj/Localizable.strings
  DuckDuckGo/lv.lproj/Localizable.strings
  DuckDuckGo/nb.lproj/Localizable.strings
  DuckDuckGo/nl.lproj/Localizable.strings
  DuckDuckGo/pl.lproj/Localizable.strings
  DuckDuckGo/pt.lproj/Localizable.strings
  DuckDuckGo/ro.lproj/Localizable.strings
  DuckDuckGo/ru.lproj/Localizable.strings
  DuckDuckGo/sk.lproj/Localizable.strings
  DuckDuckGo/sl.lproj/Localizable.strings
  DuckDuckGo/sv.lproj/Localizable.strings
  DuckDuckGo/tr.lproj/Localizable.strings
Labels: bot: not in app board

#3039 implement contextual dialogs
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/AnimatableTypingText.swift
  DuckDuckGo/Assets.xcassets/Success-128.imageset/Contents.json
  DuckDuckGo/Assets.xcassets/Success-128.imageset/Success-128.svg
  DuckDuckGo/Assets.xcassets/Wand-16.imageset/Contents.json
  DuckDuckGo/Assets.xcassets/Wand-16.imageset/Wand-16.svg
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualDaxDialog.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingList.swift
  DuckDuckGo/OnboardingExperiment/DaxDialogs/DaxDialogIntroView.swift
  DuckDuckGo/OnboardingExperiment/DaxDialogs/DaxDialogView.swift
  DuckDuckGo/OnboardingExperiment/Styles/OnboardingTextStyles.swift
  DuckDuckGo/UserText.swift
  DuckDuckGo/en.lproj/Localizable.strings
  DuckDuckGoTests/AnimatableTypingTextModelTests.swift
Labels: bot: not in app board

#3055 add sites providers
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualDaxDialog.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingList.swift
  DuckDuckGo/OnboardingExperiment/DaxDialogs/DaxDialogIntroView.swift
  DuckDuckGo/OnboardingHelpers/OnboardingSuggestedSearchesProvider.swift
  DuckDuckGo/OnboardingHelpers/OnboardingSuggestedSitesProvider.swift
  DuckDuckGo/UserText.swift
  DuckDuckGo/en.lproj/Localizable.strings
  DuckDuckGoTests/OnboardingSuggestedSearchesProviderTests.swift
  DuckDuckGoTests/OnboardingSuggestedSitesProviderTests.swift
Labels: bot: not in app board

#3054 Onboarding intro ship review design feedback
  DuckDuckGo/DaxOnboarding.xcassets/DaxIcon.imageset/Contents.json
  DuckDuckGo/DaxOnboarding.xcassets/DaxIcon.imageset/DaxLogo.pdf
  DuckDuckGo/DaxOnboarding.xcassets/DaxIcon.imageset/new_dax_dialogs.pdf
  DuckDuckGo/OnboardingExperiment/BrowsersComparison/BrowsersComparisonChart.swift
  DuckDuckGo/OnboardingExperiment/DaxDialogs/DaxDialogView.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingView+BrowsersComparisonContent.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingView+Landing.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingView.swift
  DuckDuckGo/UserText.swift
  DuckDuckGo/en.lproj/Localizable.strings
Labels: bot: not in app board

#3073 Release 7.128.0-1
  DuckDuckGo.xcodeproj/project.pbxproj
  fastlane/metadata/default/release_notes.txt
Labels: Merge triggers release

#3034 Onboarding Intro - Pixels
  Core/PixelEvent.swift
  Core/UniquePixel.swift
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/DaxOnboardingViewController.swift
  DuckDuckGo/OnboardingDefaultBroswerViewController.swift
  DuckDuckGo/OnboardingExperiment/OnboardingIntro/OnboardingIntroViewModel.swift
  DuckDuckGo/OnboardingExperiment/Pixels/OnboardingPixelReporter.swift
  DuckDuckGoTests/OnboardingFirePixelMock.swift
  DuckDuckGoTests/OnboardingIntroViewModelTests.swift
  DuckDuckGoTests/OnboardingPixelReporterTests.swift
Labels: bot: not in app board

#3080 new tab onboarding
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/AppDelegate.swift
  DuckDuckGo/DaxDialogs.swift
  DuckDuckGo/HomePageDependencies.swift
  DuckDuckGo/HomeViewController+DaxDialogs.swift
  DuckDuckGo/HomeViewController.swift
  DuckDuckGo/MainViewController.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualDaxDialog.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingList.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/NewTabDaxDialogFactory.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/OnboardingSuggestionsViewModel.swift
  DuckDuckGo/OnboardingHelpers/OnboardingSuggestedSearchesProvider.swift
  DuckDuckGo/OnboardingHelpers/OnboardingSuggestedSitesProvider.swift
  DuckDuckGoTests/ContextualOnboardingNewTabDialogFactoryTests.swift
  DuckDuckGoTests/DaxDialogTests.swift
  DuckDuckGoTests/DaxDialogsNewTabTests.swift
  DuckDuckGoTests/HomeViewControllerDaxDialogTests.swift
  DuckDuckGoTests/OnboardingNavigationDelegateTests.swift
  DuckDuckGoTests/OnboardingSuggestedSearchesProviderTests.swift
  DuckDuckGoTests/OnboardingSuggestedSitesProviderTests.swift
  DuckDuckGoTests/OnboardingSuggestionsViewModelsTests.swift
Labels: bot: not in app board

#3090 fix nt search details
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingList.swift
  DuckDuckGo/OnboardingHelpers/OnboardingSuggestedSitesProvider.swift
  DuckDuckGoTests/OnboardingSuggestedSitesProviderTests.swift
Labels: bot: not in app board

#3063 Onboarding Contextual Tutorial Rendering
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/AppDelegate.swift
  DuckDuckGo/Base.lproj/Tab.storyboard
  DuckDuckGo/MainViewController.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingBackgroundWrapper.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualDaxDialogsFactory.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualOnboardingPresenter.swift
  DuckDuckGo/TabManager.swift
  DuckDuckGo/TabViewController.swift
  DuckDuckGo/TabViewControllerLongPressMenuExtension.swift
  DuckDuckGoTests/ContextualOnboardingPresenterTests.swift
  DuckDuckGoTests/OnboardingNavigationDelegateTests.swift
Labels: bot: not in app board

#3089 Contextual Onboarding Linear
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/DaxDialogs.swift
  DuckDuckGo/MainViewController.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualDaxDialog.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingBackgroundWrapper.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/NewTabDaxDialogFactory.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualDaxDialogsFactory.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualOnboardingPresenter.swift
  DuckDuckGo/TabDelegate.swift
  DuckDuckGo/TabViewController.swift
  DuckDuckGoTests/ContextualOnboardingNewTabDialogFactoryTests.swift
  DuckDuckGoTests/ContextualOnboardingPresenterMock.swift
  DuckDuckGoTests/ContextualOnboardingPresenterTests.swift
  DuckDuckGoTests/CoreDataDatabaseTestUtilities.swift
  DuckDuckGoTests/DaxDialogTests.swift
  DuckDuckGoTests/DaxDialogsBrowsingSpecTests.swift
  DuckDuckGoTests/HomeViewControllerDaxDialogTests.swift
  DuckDuckGoTests/MockTabDelegate.swift
  DuckDuckGoTests/OnboardingNavigationDelegateTests.swift
  DuckDuckGoTests/TabViewControllerDaxDialogTests.swift
Labels: bot: not in app board

#3108 Contextual Onboarding - Show final dialog
  Core/UserDefaultsPropertyWrapper.swift
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/AppDelegate.swift
  DuckDuckGo/DaxDialogs.swift
  DuckDuckGo/DaxDialogsSettings.swift
  DuckDuckGo/MainViewController.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualDaxDialogsFactory.swift
  DuckDuckGo/TabManager.swift
  DuckDuckGo/TabViewController.swift
  DuckDuckGo/TabViewControllerLongPressMenuExtension.swift
  DuckDuckGoTests/ContextualDaxDialogsFactoryTests.swift
  DuckDuckGoTests/ContextualOnboardingNewTabDialogFactoryTests.swift
  DuckDuckGoTests/DaxDialogTests.swift
  DuckDuckGoTests/DaxDialogsNewTabTests.swift
  DuckDuckGoTests/MockTabDelegate.swift
  DuckDuckGoTests/OnboardingNavigationDelegateTests.swift
  DuckDuckGoTests/SwiftUITestUtilities.swift
  DuckDuckGoTests/TabViewControllerDaxDialogTests.swift
Labels: bot: not in app board

#3118 Release 7.130.0-0
  Configuration/Version.xcconfig
  Core/AppPrivacyConfigurationDataProvider.swift
  Core/ios-config.json
  DuckDuckGo/Settings.bundle/Root.plist
Labels: Merge triggers release

#3122 Release 7.130.0-1
  DuckDuckGo.xcodeproj/project.pbxproj
Labels: Merge triggers release

#3123 fix index out-of-bounds in startAttachingCrashLogMessages
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  DuckDuckGo/AppDelegate.swift
Labels: bot: not in app board

#3127 Release 7.129.1-0
  Configuration/Version.xcconfig
  DuckDuckGo/Settings.bundle/Root.plist
Labels: Merge triggers release

#3134 Release 7.130.0-2
  DuckDuckGo.xcodeproj/project.pbxproj
Labels: Merge triggers release

#3131 Update Sites suggestion
  DuckDuckGo/OnboardingHelpers/OnboardingSuggestedSitesProvider.swift
  DuckDuckGoTests/OnboardingSuggestedSitesProviderTests.swift
Labels: bot: not in app board

#3130 Alessandro/privacy icon animation
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/DaxDialogs.swift
  DuckDuckGo/MainViewController.swift
  DuckDuckGo/OmniBar.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualOnboardingPresenter.swift
  DuckDuckGo/OnboardingExperiment/DaxDialogs/DaxDialogView.swift
  DuckDuckGo/PrivacyIconAndTrackersAnimator.swift
  DuckDuckGo/PrivacyIconContextualOnboardingAnimator.swift
  DuckDuckGo/TabDelegate.swift
  DuckDuckGo/TabViewController.swift
  DuckDuckGo/UserText.swift
  DuckDuckGo/ViewHighlighter.swift
  DuckDuckGo/en.lproj/Localizable.strings
  DuckDuckGo/en.lproj/Localizable.stringsdict
  DuckDuckGoTests/MockTabDelegate.swift
Labels: bot: not in app board

#3129 Alessandro/refresh dax dialog and ntp logo
  Core/UserDefaultsPropertyWrapper.swift
  DuckDuckGo/DaxDialogs.swift
  DuckDuckGo/DaxDialogsSettings.swift
  DuckDuckGo/HomeViewController+DaxDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualOnboardingDialogs.swift
  DuckDuckGo/OnboardingExperiment/ContextualOnboarding/ContextualDaxDialogsFactory.swift
  DuckDuckGo/TabViewController.swift
  DuckDuckGoTests/ContextualDaxDialogsFactoryTests.swift
  DuckDuckGoTests/ContextualOnboardingPresenterTests.swift
  DuckDuckGoTests/DaxDialogTests.swift
  DuckDuckGoTests/DaxDialogsNewTabTests.swift
  DuckDuckGoTests/MockTabDelegate.swift
  DuckDuckGoTests/TabViewControllerDaxDialogTests.swift
Labels: bot: not in app board

#3150 type title
  DuckDuckGo/OnboardingExperiment/ContextualDaxDialogs/ContextualDaxDialog.swift
Labels: bot: not in app board

#3157 Release 7.131.0-0
  Configuration/Version.xcconfig
  Core/AppPrivacyConfigurationDataProvider.swift
  Core/ios-config.json
  DuckDuckGo.xcodeproj/project.pbxproj
  DuckDuckGo/Settings.bundle/Root.plist
  fastlane/metadata/default/release_notes.txt
Labels: Merge triggers release
